@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    background-color: black;
    color: gray;
    width: 960px;
    margin: 0px auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

header, main, nav, footer, #content {
    text-align: center;
    width: 100%;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

#me, #welcomeText {
    float: left;
    text-align: left;
}

#me img {
    border-radius: 2em;
}

#welcomeText {
    padding-left: 10px;
    padding-top: 50px;
    width: 200px;
    font-size: 1.3em;
}

footer {
    clear: both;
    color: orange;
    font-size: 0.8em;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    text-align: left;
    padding-left: 200px;
}

.hobby {
    color: yellow;
}