#search {
	float: left;
}

#options {
	float: right;
}

#content {
	clear: both;
	min-height: 100px;
}

.item {
	font-size: 20px;
}

.itemHeader {
	font-size: 30px;
}

.itemName {
	color: #ff914b;
	padding-left: 20px;
}

.itemDesc {
	color: #777;
	padding-left: 20px;
}

.itemPrice {
	color: #409e60;
	padding-left: 20px;
}

#header {
	color: #00ff0b;
}

.history, a {
	color: #ff4a6a;
}

a:hover {
	color: #ff7c8a;
	transition: 0.2s;
}

.historyItem {
	margin: 15vh auto;
	text-align: center;
}

.btn-danger {
	color: #fff;
	background-color:#dc3545;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.btn-danger {
	color: white;
}


@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html {
	background-color: #fafafa;
}

body {
	width: 960px;
	margin: 0 auto;

	font-size: 1.2em;
	color: #555;
}

header, footer {
	text-align: center;
	font-family: 'Comfortaa', cursive;
}

header h1 {
	color: #ff4a6a;
	text-shadow: 0 0 3px rgba(0,0,0,0.4);
}

#password {
	color: #fff;
	background: #ff4a6a;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	border: 2px dashed #fff;
	box-shadow: 0 0 0 4px #ff4a6a;

	text-align: center;
	padding: 10px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 30px;
}

ul span, .text-focus, strong {
	color: #ff4a6a;
	font-weight: bold;
}

footer {
	border-top: 1px solid black;
	padding-top: 10px;
	font-size: 0.6em;
	color: #555;
}

footer img {
	width: 50%;
}

input {
	background: #ff4a6a;
	border: 1px solid #ff4a6a;
	padding: 4px 6px;
	color: white;
	font-size: 14px;
	margin-right: 1em;
}

input[type=number] {
	width: 50px;
}

input[type=submit], input[type=reset] {
	font-size: 18px;
	padding: 8px 16px;
	font-weight: 600;
}

.text-center {
	text-align: center;
}

.d-block {
	display: block;
}