@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    width: 960px;
    margin: 0 auto;

    color: #555;
}

header, nav, footer {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

header h1 {
    color: #027F9B;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4);
}

main {
    margin: 15px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 34px/10px;
    min-height: 600px;

    padding: 25px;

    font-size: 1.2em;
}

nav a {
    font-family: sans-serif;
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.6em;
    text-decoration: none;
    color: #eef2ed;

    border-bottom: 2px solid transparent;

    transition: 0.6s;
}

nav a:hover {
    border-bottom: 2px solid #ff4a6a;
    color: white;
}

ul span, .text-focus, strong {
    color: #ff4a6a;
    font-weight: bold;
}

footer {
    padding-top: 10px;

    color: white;
}

.engine-logos {
    text-align: center;
    width: 100%;
}

.engine-logos img {
    width: 30%;
}

.full-width {
    width: 100%;
}